<div class="container">
  <div class="row justify-content-center mt-5 mb-4">
    <%= link_to t(".teams_index"), teams_path, class: "btn-lg btn-secondary col-3 text-center" %>
    <div class="btn-lg btn-primary col-3 text-center shadow mx-1"><%= t(".title") %></div>
    <%= link_to t(".posts_index"), posts_path, class: "btn-lg btn-secondary col-3 text-center" %>
  </div>

  <div class="col-sm-12 col-lg-10 mx-auto">
    <div class="row mt-5 mb-5">
      <div class="col-12 col-sm-6">
        <% if @team.image.attached? %>
          <%= image_tag @team.image.variant(resize_to_fill: [600, 400]).processed, class: "img-fluid rounded shadow mb-3" %>
        <% else %>
          <%= image_tag "no_image", class: "img-fluid rounded shadow mb-3" %>
        <% end %>
        <% if @team.id == current_team.id %>
          <%# <div class="row"> %>
            <%# <div class="col-6"> %>
              <%= link_to t(".edit"), edit_team_registration_path(@team), class: " btn btn-block btn-primary shadow-sm mb-3" %>
            <%# </div> %>
            <%# <div class="col-6"> %>
              <%= link_to t(".log_out"), destroy_team_session_path, method: :delete, class: "btn btn-block btn-secondary shadow-sm" %>
            <%# </div> %>
          <%# </div> %>
        <% end %>
      </div>  

      <div class="col-12 col-sm-6 mt-4">
        <h3 class="mb-4"><%= @team.name %></h3>
        <div class="row">
          <p class="col-2 text-center px-0">代表:</p>
          <%= simple_format (@team.representative), class: "col-10 pl-0" %>
        </div>
        <div class="row">
          <p class="col-2 text-center px-0">詳細:</p>
          <%= simple_format (@team.introduction), class: "col-10 pl-0" %>
        </div>
        <div class="row">
          <p class="col-2 text-center px-0">活動:</p>
          <%= simple_format (@team.location), class: "col-10 pl-0" %>
        </div>
        <div class="row">
          <p class="col-2 text-center px-0">ＨＰ:</p>          
          <% if @team.homepage.present? %>
            <%= link_to @team.homepage, @team.homepage, target: :_blank, class: "col-10 pl-0" %>
          <% else %>
            <p>未設定</p>
          <% end %>
        </div>
      </div>
    </div>

    <h4 class="mb-4"><%= t ".team_posts" %></h4>
    <div class="mb-5">
      <%= render partial: "teams/post", collection: @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>
