<%= render "shared/errors", obj: post %>
<%= form_with model: post, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "必須 (100文字以内)", class: "form-control", rows: "7" %>
  </div>
  <p>
    <%= f.submit t(".post"), class: "btn btn-block btn-primary" %>
  </p>
  <p>
    <%= link_to t(".back"), :back, class: "btn btn-block btn-secondary" %>
  </p>
<% end %>